$browser-context: 16;
$use-attributes : false  !default;
$use-classNames : false  !default;
$use-elements   : true   !default;


$modifier--separator: '--';
$child--separator: '-';
$enable-flex-box: true;
$enable-outlines: false;

/***********
 * Font Paths
 **********/
$roboto-font-path: "assets/font/roboto/" !default;
$icons-font-path: "assets/font/material-design-icons/" !default;
$noto-font-path: "assets/font/noto/" !default;
$arual-font-path: "assets/font/arual/" !default;
$aicons-font-path: "assets/font/aicon/" !default;
$mdicons-font-path: "assets/font/mdicon/" !default;

/***********
 * Font Heading
 **********/

$heading--fontSize: (
  1: $h1--fontSize,
  2: $h2--fontSize,
  3: $h3--fontSize,
  4: $h4--fontSize,
  5: $h5--fontSize,
  6: $h6--fontSize,
);


/***********
 * Grid
 * @columns: Set the number of columns
 * @gutter-width: Set the width of the gutters.
 *
 * @breakpoint [xs] Extra small screen / phone
 * @breakpoint [sm] Small screen / phone
 * @breakpoint [md] Medium screen / tablet
 * @breakpoint [lg] Large screen / desktop
 * @breakpoint [xl] Extra large screen / wide desktop
 **********/
$grid-columns:               12 !default;
$grid-gutter-width:          1.875rem !default; // 30px
$breakpoint-xs: 0;
$breakpoint-sm: 34em;
$breakpoint-md: 48em;
$breakpoint-lg: 62em;
$breakpoint-xl: 75em;
$grid-breakpoints: (
   xs: $breakpoint-xs
  ,sm: $breakpoint-sm
  ,md: $breakpoint-md
  ,lg: $breakpoint-lg
  ,xl: $breakpoint-xl
) !default;

$breakpoints: $grid-breakpoints;

$z-index-layers: (
  overlay: 3000,
  fixed-sidebar: 3001,
  main: 2000,
  host: 2001,
  navbar: 2005,
  tabbar: 2004,
  sidebar: 2003,
  view: 2002,
);

/***********
 * Shadow
 ***********/
$shadow-index-settings: (
  1: (
    1:( depth:1px, size: 4px 0, opacity: 'penumbra' ),
    2:( depth:2px, size: 1px -2px, opacity: 'umbra' ),
    3:( depth:0px, size: 3px 0, opacity: 'ambient' ),
  ),
  2: (
    1:( depth:2px, size: 2px 0, opacity: 'penumbra' ),
    2:( depth:3px, size: 1px -2px, opacity: 'umbra' ),
    3:( depth:1px, size: 5px 0, opacity: 'ambient' ),
  ),
  3: (
    1:( depth:3px, size: 4px 0, opacity: 'penumbra' ),
    2:( depth:3px, size: 3px -2px, opacity: 'umbra' ),
    3:( depth:1px, size: 8px 0, opacity: 'ambient' ),
  ),
  4: (
    1:( depth:4px, size: 5px 0, opacity: 'penumbra' ),
    2:( depth:1px, size: 10px 0, opacity: 'ambient' ),
    3:( depth:2px, size: 4px -1px, opacity: 'umbra' ),
  ),
  6: (
    1:( depth:6px, size: 10px 0, opacity: 'penumbra' ),
    2:( depth:1px, size: 18px 0, opacity: 'ambient' ),
    3:( depth:3px, size: 5px -1px, opacity: 'umbra' ),
  ),
  8: (
    1:( depth:8px, size: 10px 1px, opacity: 'penumbra' ),
    2:( depth:3px, size: 14px 2px, opacity: 'ambient' ),
    3:( depth:5px, size: 5px -3px, opacity: 'umbra' ),
  ),
  16: (
    1:( depth:16px, size: 24px 2px, opacity: 'penumbra' ),
    2:( depth:6px,  size: 30px 5px, opacity: 'ambient' ),
    3:( depth:8px,  size: 10px -5px, opacity: 'umbra' ),
  )
);
