
@import '_card.platform-web';

/* Card dimensions */
$card-background-color: white !default;
$card-text-color: $medium-gray !default;
$card-width: 330px !default;
$card-height: 200px !default;
$card-font-size: 16px !default;
$card-title-font-size: 24px !default;
$card-horizontal-padding: 16px !default;
$card-vertical-padding: 16px !default;

/* Cover image */
$card-cover-image-height: 186px !default;
$card-image-placeholder-color: $primary-color;
$card-background-image-url: '' !default;

$android-card-module: map-merge((
  'font-size'     : $card-font-size,
  'font-weight'   : 400,
  'min-height'    : $card-height,
  'width'         : $card-width,
  'border-radius' : 2px,
  'title': (
    'color'             : $card-text-color,
    'justify-content'   : stretch,
    'line-height'       : normal,
    'padding'           : $card-vertical-padding $card-horizontal-padding,
    'perspective-origin': $card-title-perspective-origin-x $card-title-perspective-origin-y,
    'transform-origin'  : $card-title-transform-origin-x $card-title-transform-origin-y,
  ),
  'text': (
    'font-weight'      : $card-title-text-font-weight,
    'line-height'      : normal,
    'margin'           : 0
  ),
  'actions': (
    'font-size'         : $card-actions-font-size,
    'line-height'       : normal,
  )
), $web-card-module);


